<a href="https://colab.research.google.com/github/Anujay26/OIBSIB/blob/main/Cleaning_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##LOAD AND INSPECT DATA

In [ ]:
import pandas as pd
import numpy as np
import missingno as msno
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("AB_NYC_2019.csv")

In [ ]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

##DATA INTEGRITY

In [ ]:
print("Total records:",df.shape[0])

Total records: 48895

In [ ]:
print("Unique ID's:",df['id'].unique())

Unique ID's: [    2539     2595     3647 ... 36485431 36485609 36487245]

In [ ]:
print("Duplicate listing IDs:", df['id'].duplicated().sum())

Duplicate listing IDs: 0

In [ ]:
print(df['name'].isnull().sum())
print(df['host_name'].isnull().sum())

16
21

In [ ]:
print(df.isnull().sum())

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [ ]:
df['name'].fillna("Unknown", inplace=True)
df['host_name'].fillna("Unknown", inplace=True)

In [ ]:
df.dropna(subset=['latitude', 'longitude'], inplace=True)

In [ ]:
df = df.drop_duplicates()

In [ ]:
print("Shape after duplicate removal:", df.shape)

Shape after duplicate removal: (48895, 16)

In [ ]:
df.columns = df.columns.str.lower()

In [ ]:
df['price'] = pd.to_numeric(df['price'], errors='coerce')

In [ ]:
df['room_type'] = df['room_type'].str.strip()

In [ ]:
Q1 = df['price'].quantile(0.25)
Q3 = df['price'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

In [ ]:
df = df[(df['price'] >= lower_bound) & (df['price'] <= upper_bound)]
print("Shape after outlier removal:", df.shape)

Shape after outlier removal: (45923, 16)

In [ ]:
print(df.describe(include='all'))
print(df.isnull().sum())

                  id            name       host_id host_name  \
count   4.592300e+04           45923  4.592300e+04     45923
unique           NaN           44993           NaN     11009
top              NaN  Hillside Hotel           NaN   Michael
freq             NaN              18           NaN       383
mean    1.889853e+07             NaN  6.632693e+07       NaN
std     1.091922e+07             NaN  7.755778e+07       NaN
min     2.539000e+03             NaN  2.438000e+03       NaN
25%     9.436180e+06             NaN  7.724081e+06       NaN
50%     1.952568e+07             NaN  3.028359e+07       NaN
75%     2.891256e+07             NaN  1.055068e+08       NaN
max     3.648724e+07             NaN  2.743213e+08       NaN

       neighbourhood_group neighbourhood      latitude     longitude  \
count                45923         45923  45923.000000  45923.000000
unique                   5           219           NaN           NaN
top              Manhattan  Williamsburg           NaN           NaN
freq                 19506          3732           NaN           NaN
mean                   NaN           NaN     40.728488    -73.950733
std                    NaN           NaN      0.055331      0.046471
min                    NaN           NaN     40.499790    -74.244420
25%                    NaN           NaN     40.689235    -73.981925
50%                    NaN           NaN     40.721770    -73.954370
75%                    NaN           NaN     40.763390    -73.934315
max                    NaN           NaN     40.913060    -73.712990

              room_type         price  minimum_nights  number_of_reviews  \
count             45923  45923.000000    45923.000000       45923.000000
unique                3           NaN             NaN                NaN
top     Entire home/apt           NaN             NaN                NaN
freq              22789           NaN             NaN                NaN
mean                NaN    119.970320        6.938070          23.942665
std                 NaN     68.150148       19.857823          45.315219
min                 NaN      0.000000        1.000000           0.000000
25%                 NaN     65.000000        1.000000           1.000000
50%                 NaN    100.000000        2.000000           5.000000
75%                 NaN    159.000000        5.000000          24.000000
max                 NaN    334.000000     1250.000000         629.000000

       last_review  reviews_per_month  calculated_host_listings_count  \
count        36911       36911.000000                    45923.000000
unique        1752                NaN                             NaN
top     2019-06-23                NaN                             NaN
freq          1335                NaN                             NaN
mean           NaN           1.378199                        6.639701
std            NaN           1.692006                       31.008148
min            NaN           0.010000                        1.000000
25%            NaN           0.190000                        1.000000
50%            NaN           0.710000                        1.000000
75%            NaN           2.020000                        2.000000
max            NaN          58.500000                      327.000000

        availability_365
count       45923.000000
unique               NaN
top                  NaN
freq                 NaN
mean          109.378699
std           130.279393
min             0.000000
25%             0.000000
50%            39.000000
75%           217.000000
max           365.000000
id                                   0
name                                 0
host_id                              0
host_name                            0
neighbourhood_group                  0
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       9012
reviews_per_month                 9012
calculated_host_listings_count       0
availability_365                     0
dtype: int64